In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame(pd.read_excel("blank table.xlsx"))

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150588 entries, 0 to 150587
Data columns (total 10 columns):
Address_Identify             150588 non-null int64
Authorized_Users_Identify    150588 non-null int64
Group_Identify               150588 non-null int64
Incoterm_Identify            150588 non-null int64
Name_Identify                150588 non-null int64
Partner_Identify             150588 non-null int64
Price_Control_Identify       150588 non-null int64
SalesORG_Identify            150588 non-null int64
Tax_Identify                 150588 non-null int64
Type_Identify                150588 non-null int64
dtypes: int64(10)
memory usage: 11.5 MB

In [5]:
data.describe()

,Address_Identify,Authorized_Users_Identify,Group_Identify,Incoterm_Identify,Name_Identify,Partner_Identify,Price_Control_Identify,SalesORG_Identify,Tax_Identify,Type_Identify
count,150588.000000,150588.000000,150588.000000,150588.000000,150588.000000,150588.000000,150588.000000,150588.000000,150588.000000,150588.000000
mean,0.002171,0.110029,0.935420,0.934238,0.002171,0.058909,0.998599,0.001215,0.056538,0.060762
std,0.046549,0.312927,0.245784,0.247867,0.046549,0.235455,0.037406,0.034839,0.230959,0.238894
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
y = data.Authorized_Users_Identify
y.mean()

0.11002868754482428

In [13]:
df = data.drop(['Authorized_Users_Identify'], axis = 1)

In [15]:
X = df.iloc[:,0:18]
X = pd.get_dummies(X)
X.head()

,Address_Identify,Group_Identify,Incoterm_Identify,Name_Identify,Partner_Identify,Price_Control_Identify,SalesORG_Identify,Tax_Identify,Type_Identify
0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,1,0,0,0
3,0,1,1,0,0,1,0,0,0
4,0,1,1,0,0,1,0,0,0

In [16]:
from sklearn.linear_model import LogisticRegressionCV
from sklearn.model_selection import train_test_split

In [17]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=0.33, random_state = 1)

In [18]:
ytrain.mean(),ytest.mean()

(0.10902639429891073, 0.11206358788610524)

In [19]:
model = LogisticRegressionCV(Cs = np.logspace(-3,3,7),
                            dual=False,
                            scoring='roc_auc',
                            max_iter=1000,
                            n_jobs=-1,
                            verbose=1)

In [20]:
model.fit(Xtrain, ytrain)

C:\Python\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   3 | elapsed:    3.1s finished

LogisticRegressionCV(Cs=array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02, 1.e+03]),
           class_weight=None, cv='warn', dual=False, fit_intercept=True,
           intercept_scaling=1.0, max_iter=1000, multi_class='warn',
           n_jobs=-1, penalty='l2', random_state=None, refit=True,
           scoring='roc_auc', solver='lbfgs', tol=0.0001, verbose=1)

In [21]:
model.score(Xtrain, ytrain)

C:\Python\lib\site-packages\sklearn\linear_model\logistic.py:1920: ChangedBehaviorWarning: The long-standing behavior to use the accuracy score has changed. The scoring parameter is now used. This warning will disappear in version 0.22.
  ChangedBehaviorWarning)

0.9293395587481277

In [22]:
model.score(Xtest,ytest)

C:\Python\lib\site-packages\sklearn\linear_model\logistic.py:1920: ChangedBehaviorWarning: The long-standing behavior to use the accuracy score has changed. The scoring parameter is now used. This warning will disappear in version 0.22.
  ChangedBehaviorWarning)

0.9279855393287771

In [29]:
model.coef_

array([[-0.54127025, -2.98186901, -3.65628915, -0.54127025,  1.21978943,
         0.43219542, -0.47558626,  1.80124414,  0.87895436]])

In [23]:
1-ytest.mean()

0.8879364121138947

In [24]:
ytest_predict = model.predict(Xtest)

In [25]:
from sklearn.metrics import classification_report

In [26]:
print(classification_report(y_true = ytest, y_pred = ytest_predict))

              precision    recall  f1-score   support

           0       0.98      0.97      0.98     44126
           1       0.80      0.86      0.83      5569

   micro avg       0.96      0.96      0.96     49695
   macro avg       0.89      0.92      0.90     49695
weighted avg       0.96      0.96      0.96     49695

In [27]:
feat_importances = pd.DataFrame({"name":Xtrain.columns,"coef":model.coef_[0]})
feat_importances = feat_importances[['name','coef']]# reorder the columns
feat_importances['importances'] = np.abs( feat_importances['coef'] )
feat_importances.sort_values(by="importances",inplace=True,ascending=False)
feat_importances

                     name      coef  importances
2       Incoterm_Identify -3.656289     3.656289
1          Group_Identify -2.981869     2.981869
7            Tax_Identify  1.801244     1.801244
4        Partner_Identify  1.219789     1.219789
8           Type_Identify  0.878954     0.878954
0        Address_Identify -0.541270     0.541270
3           Name_Identify -0.541270     0.541270
6       SalesORG_Identify -0.475586     0.475586
5  Price_Control_Identify  0.432195     0.432195